@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

html, body, .container {
    height: 100%;
    background-color: #000000;
}
.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

h3 {
    margin-top: 5px;
}

.panel, .panel-heading {
    border-radius: 0px;
    border-color: #333;
}

.panel, .panel-body {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.panel-primary > .panel-heading, .btn-primary, .btn-primary:active, .btn-primary:focus {
    border-radius: 0px;
    background-color: #333;
    border-color: #333;
}

.btn-primary:hover {
    background-color: #000;
    border-color: #333;
}

#messages-list {
    height: 95px;
    overflow-y: scroll;
    margin-top: 5px;
}

#messages {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#messages li {
    margin: 0px;
    padding: 0px;
}
#truste{
    width: 60%;
}
#loading{
    margin-top: -10%;
    width: 20%;
}
.remote-message {
    padding: 1rem;
    background-color: rgb(128, 128, 128);
    color: white;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    width: 50%;
    margin-bottom: 0;
  }
.local-message{
    text-align: left;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 1rem;
    box-sizing: border-box;
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-bottom: 0;
}
  .local-message strong{
    font-size: large;
    font-weight: 700;
  }
  
  .local-message #date-message{
    font-size: x-small;
  }

.list-group-item:first-child, .list-group-item:last-child, .form-control {
    border-radius: 0px;
}

.list-group-item {
    border-color: #ccc;
}
#chat{
    background-color: #6c8e6c;
}
#messages-list{
    height: 30rem;
}
.list-group{
    height: 30rem;
}
.form-control:focus {
    box-shadow: none;
    border-color: #ccc;
}

#turn-status {
    padding: 10px 0px;
    margin: 25px 0 0 0;
    width: 100%;
}

#turn-status a {
    font-weight: bold;
    text-decoration: underline;
}

.alert-your-turn {
    color: #fbfffe;
    background-color: #7dbcef;
    border-color: #bce8f1;
}

.alert-opponent-turn {
    color: #767676;
    background-color: #f0f0f0;
    border-color: #e9e9e9;
}

.alert-winner {
    color: #6c8e6c;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-loser {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.img #truste {
    border-radius: 10px;
    background-color: #333;
    margin-top: 25px;
}
button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  .waiting-room{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .myCard {
    background-color: transparent;
    width: 250px;
    height: 254px;
    perspective: 1000px;
  }
  .title1{
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  .little-text{
    font-size: .6em;
  }
  .title {
    font-size: 1em;
    padding: 10px;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }

  button,
button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #00e6f6;
 outline: transparent;
 position: relative;
}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "HOVER ME";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
 text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
 0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
 }

 10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
 }

 20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
 }

 30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
 }

 40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
 }

 50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
 }

 60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
 }

 70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
 }

 80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
 }

 90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
 }

 100% {
  clip-path: var(--slice-1);
  transform: translate(0);
 }
}

#send{
    width: 30%;
}