@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

html,
body,
.container {
  height: 100%;
  background-color: #F6F4F1;
  display: table;
  vertical-align: middle;
}

.container {
  display: table;
  vertical-align: middle;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

h3 {
  margin-top: 5px;
}

.panel,
.panel-heading {
  border-radius: 0px;
  border-color: #F8EBF3;
}

.panel,
.panel-body {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.panel-primary>.panel-heading,
.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  border-radius: 0px;
  background-color: #D46BAE;
  border-color: #D46BAE;
}

.btn-primary:hover {
  background-color: #000;
  border-color: #D46BAE;
}

/* ... (other used styles) ... */

.waiting-room {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myCard {
  background-color: transparent;
  width: 250px;
  height: 254px;
  perspective: 1000px;
}

.title1 {
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(173, 125, 229) 0%, rgb(229, 173, 125) 46%, rgb(125, 229, 173) 100%);
}

.frontSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}


